body > header {
  color:#FFFFFF;
  background-color: #D8ADB7;
  background-image: url("https://www.transparenttextures.com/patterns/black-thread.png");
  height: 400px;
  width: 100%;
  z-index: 0;
}

body > header > div > img {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;

}
body > header > div > h2 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}