body > header {
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  background-color: #ff9778;
  color:#FFFFFF;
  height: 400px;
  width: 100%;
}

header > div {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#top-header img {
  width: 175px;
}

#top-header h2 {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 0px; 
  text-align: center;
}