body > header {
  color:#FFFFFF;
  background-color: #d98f99;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  height: 400px;
  width: 100%;
}

header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#top-header img {
  width: 175px;
}

#top-header h2 {
  text-align: center;
  margin-top: 0px; 
  font-family: "Source Sans Pro", sans-serif;
}