nav {
  background:  #4056A1;
  color:#FFFFFF;
  display: flex;
  height: 120px;
  padding: 1.5em;
  position: fixed;
  width: 100%;
  z-index: 100;
}

nav span.tweet {
  flex-direction: row;
  font-family: 'Bungee', cursive;
  margin-bottom: auto;
  margin-top:auto;
}



nav div img {
  animation: float 2s ease-in-out infinite;
  max-width: 40px;
  padding-top: 2px;
}

#writeTweet {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

nav span.write {
  flex-wrap: wrap-reverse;
  font-family: "Source Sans Pro", sans-serif;
}

nav div img:hover {
  cursor: pointer;
  position: relative; 
  top: 5px;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-5px);
	}
	100% {
		transform: translatey(0px);
	}
}

