#new-tweet-form {
  display: none;
}

.alert {
  background-color: salmon;
  color: white;
  font-size: smaller;
  font-weight: bold;
  padding-left: 10px;
}

textarea {
  background: transparent;
  border-bottom: 3px solid #3d3b3b;
  border: 0;
  color:  #3d3b3b;
  font-weight: bold;
  height: 70px;
  outline: 0;
  resize: none;
  width: 100%;
}

.counter {
  color: #3d3b3b;
  float: right;
  font-family: 'Bungee', cursive;
}

.negative-value {
  color: #FF0000;
}

input {
  background:  #4056A1;
  color:#FFFFFF;
  font-family: 'Bungee', cursive;
  justify-content: space-between;
};