article {
  padding: 10px;
  border: 3.5px solid #3d3b3b;
  margin-top: 30px;
  margin-bottom: 30px;
  word-wrap: break-word;
}

article > header {
  display: flex;
  flex-direction: row;
  height: 80px;
  padding-bottom: 1.5em;
}

article > header > img {
  margin: 6px;
  height: 50px
}

article > header > h4 {
  margin-left: auto;
  color: #f4f1ec;
}

article > header > p {
  margin-left: 5px;
}

article > footer {
  font-size: small;
  border-top: 2px solid #3d3b3b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

article > p {
  color: #3d3d3d;
}

article:hover {
  box-shadow: 5px 5px 0 lightsteelblue;
  font-weight: bold;
}

article:hover h4 {
  color:lightsteelblue 
}

#heart-icon, #flag-icon, #retweet {
  height: 20px;
  
}

#heart-icon, #flag-icon, #retweet:hover {
  cursor: pointer;
}